

#landing-page {
  /* background-color: aliceblue; */
  background-image: url('../../Images/HobbitHoleSat.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 760px;

  /* filter: blur(0.5px); */
  /* border: 2px solid gold; */
  padding: 0px;
}


#title-full {
  /* border: 2px solid purple; */
  position: absolute;

  display: flex;
  flex-direction: column;
  margin-left: 40%;
  margin-top: 0%;
}
#title-hobbit {
  /* border: 2px solid blue; */
  /* margin-top: -80px;
  margin-bottom: -150px; */
  margin: 0px 0px 0px 0px;
  padding: -50px;
  font-size: 84px;
  font-family: ringbearer;
  text-align: center;
  color: transparent;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  background: linear-gradient(green, 40%, yellow, 60%, darkorange);
  background: linear-gradient(darkgreen, 30%, limegreen, 40%, yellow, 50%, orange, 70%, red);
  /* background: linear-gradient(darkgreen, 30%, limegreen, 45%, skyblue, 60%, darkblue); */
  background-clip: text;

}
/* #title-hues {
  border: 2px solid red;
  margin-top: -65px;
  margin-left: 200px;
  font-size: 96px;
  font-family: ringbearer;
  color: transparent;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  background: linear-gradient(green, 30%, yellow, 60%, darkorange);
  background-clip: text;


} */





/* --------------------------------------------------------------------------------
Grid
-------------------------------------------------------------------------------- */

.grid {
  display: flex;
  /* flex: 0 1 auto; */
  /* defaults to 'row' */
  flex-direction: row;
  /* margin: 10%; */
  /* flex-wrap: wrap; */
  /* defaults to 'flex-start' */
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
  /* border: 2px solid greenyellow; */
  margin-left: 8%;
  padding-top: 20%;
  justify-content: flex-start;
}

.grid-col {
  flex: 0 0 auto;
  padding: 0 0.5rem 0.5rem;
  box-sizing: border-box;
}

.grid-col_1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.grid-col_2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.grid-col_3 {
  flex-basis: 25%;
  max-width: 25%;
}

.grid-col_4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.grid-col_5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.grid-col_6 {
  flex-basis: 50%;
  max-width: 50%;
}

.grid-col_7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.grid-col_8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.grid-col_9 {
  flex-basis: 75%;
  max-width: 75%;
}

.grid-col_10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.grid-col_11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.grid-col_12 {
  flex-basis: 100%;
  max-width: 100%;
}
