.userPage {
    border: 3px solid blue;
    display: flex;
    flex-flow: column nowrap;
    flex: 1;  
    /* justify-content: center; */
    align-items: center;
  }
    
  
  /* THIS CODE IS USED IN THE USER PAGE */
  
