


  

  /* CODE FOR DETAILS PAGE */

  #communityDetails-page {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
      #communityDetails-header {
        /* border: 2px solid orange; */
        font-family: ringbearer;
        font-size: 48px;
        color: transparent;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
        background: linear-gradient(green, 40%, yellow, 60%, darkorange);
        background-clip: text;
        text-align: center;
      }
      #communityDetails-body {
        /* border: 2px solid gold; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 1%;
        margin-top: -1%;
        height: 505px;
      }
      /* ! main column */
          #communityColor-view{
            display: flex;
            flex-direction: column;
            flex-basis: 500px;
            height: 500px;
          }
              #community-mainDescription {
                /* border: 2px solid magenta; */
                border: 3px solid #4d4848;
                background-color: #f5f5f5bb;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                text-align: center;
                width: 150px;
                /* height: 175px; */
                padding: 0.5%;
              }
              #projectImage-communityDiv {
                /* border: 1.5px solid yellow; */
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
              }
                  .detailsPhoto {
                    border: 1.5px solid black;
                    border-radius: 10px;
                    object-fit: cover;
                    width: 100%;
                    max-width: 470px;
                    max-height: 380px;
                    box-shadow: 0 5px 15px black;
                  }
              #community-palette {
                /* border: 2px solid red; */
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                margin-top: 15px;
              }
                  .palette-container {
                    /* border: 2px solid greenyellow; */
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 2%;
                    width: 400px;
                  }
                      .detailPrime {
                        height: 100%;
                        width: 55px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        border: 2px solid black;
                      }
                      .detailSecond {
                        height: 90%;
                        width: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        border: 2px solid black;
                      }
                      .detailThird {
                        height: 80%;
                        width: 45px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        border: 2px solid black;
                      }

          #community-models {
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            overflow: scroll;
            display: flex;
            flex-direction: column;
            flex-basis: 500px;
            height: 500px;
          }
  
  