.hobbitHues-home {
  /* Match padding to navbar size */
  /* border: 3px solid blue; */
  position: relative;
  /* margin: var(--header-height) 0 0px 0; */
  padding: var(--header-height) 0 0 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.select-scheme {
  width: 35dvw; 
}

.select-scheme:hover {
  border-color: #ffd700; /* Changes border color when hovering */
  cursor: pointer; /* Pointer cursor when hovering */
}



.colorWheel-container {
  /* border: 2px solid white; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45dvh;
  aspect-ratio: 1;
  margin-bottom: 15px;
  background-image: url('../../Images/RYBcolors.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  /* pointer-events: none;
  user-select: none; */
}


.rotating-box {
  /* border: 2px solid lime; */
  border-radius: 50%;
  position: absolute; 
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  touch-action: none; /* Prevent pinch-to-zoom and other default touch behaviors */
}



    
  .complimentary,
  .triad,
  .analog,
  .splitComp,
  .square {
    position: absolute;
    top: 50%;
    width: 2px;
    height: 45%; 
    background-color: #f0f0f0;
    transform-origin: top;
  }

  .complimentary-1 {
    left: 50%;
    transform: translateX(-50%) rotate(0deg);

  }
  .complimentary-2 {
    left: 50%;
    transform: translateX(-50%) rotate(180deg); 
  }

  .splitComp-1 {
    left: 50%;
    transform: translateX(-50%) rotate(60deg);
  }
  
  .splitComp-2 {
    left: 50%;
    transform: translateX(-50%) rotate(270deg);
  }
  
  .splitComp-3 {
    left: 50%;
    transform: translateX(-50%) rotate(120deg); 
  }

  .analog-1 {
    left: 50%;
    transform: translateX(-50%) rotate(130deg); 
  }
  
  .analog-2 {
    left: 50%;
    transform: translateX(-50%) rotate(100deg); 
  }
  
  .analog-3 {
    left: 50%;
    transform: translateX(-50%) rotate(160deg); 
  }
  .analog-4 {
    left: 50%;
    transform: translateX(-50%) rotate(190deg); 
  }

  .square-1 {
    left: 50%;
    transform: translateX(-50%) rotate(50deg); 
  }
  
  .square-2 {
    left: 50%;
    transform: translateX(-50%) rotate(140deg); 
  }
  
  .square-3 {
    left: 50%;
    transform: translateX(-50%) rotate(230deg); 
  }
  .square-4 {
    left: 50%;
    transform: translateX(-50%) rotate(-40deg); 
  }

  .triad-1 {
    left: 50%;
    transform: translateX(-50%) rotate(330deg);
  }
  
  .triad-2 {
    left: 50%;
    transform: translateX(-50%) rotate(210deg);
  }

  .triad-3 {
    left: 50%;
    transform: translateX(-50%) rotate(90deg); 
  }

