
#info-page {
    /* border: 2px solid red; */
      display: flex;
      flex-direction: column;
      flex: 1;  

}
    #info-header {
        font-family: ringbearer;
        font-size: 48px;
        color: transparent;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
        background: linear-gradient(darkgreen, 30%, limegreen, 40%, yellow, 50%, orange, 70%, red);
        background-clip: text;
        text-align: center;

    }
    #overflow-trial {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-self: center;
      width: 450px;
      min-height: 300px;
      gap: 20px;
      height: 50%;
      overflow: hidden;
    }
    #text-swipes {
      /* border: 2px solid blue; */
      border: 3px solid #4d4848;
      border-radius: 50px;
      background-color: #f5f5f5bb;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 50%;
      height: 300px;
      padding: 3% 6%;
      font-size: 20px;
    }
    
.next,
.prev {
  border: 2px solid gold;
  top: calc(50% - 20px);
  background: goldenrod;
  border-radius: 30px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 60px;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}
.next {
  right: 10px;
}
.prev {
  left: 10px;
  transform: scale(-1);
}

