



#community-paints {
    /* border: 2px solid red; */
    border: 3px solid #4d4848;
    background-color: #f5f5f5aa;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    min-width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    margin: 1% 1%;
  }
      #paintCommunity-step {
        /* border: 2px solid green; */
        display: flex;
        margin: 1%;    
      }
      #paintCommunity-description {
        /* border: 2px solid blue; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        gap: 5px;
        min-width: 110px;
        text-align: center;
      }
          #painted-image {
            /* border: 2px solid greenyellow;  */
            border: 1.5px solid black;
            border-radius: 10px;
            object-fit: cover;
            width: 100%;
            width: 200px;
            height: 190px;
          }
          /* #painted-image:hover {
            transform: scale(2.0);
            transition: 0.3s;
            z-index: 10;
          } */

          .defaultMargin {
            margin: 0;
          }
          #paintColor-Communitydisplay {
            /* border: 2px solid yellow; */
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 70%;
            margin-top: 10px;
          }

