


#single-project {
    border: 0.5px solid black;
    border-radius: 10px;
    width: 350px;
    display: flex;
    box-shadow: 0 0 15px black;
    margin: 0.5%;
    padding: 0.5%;

    animation-name: project-magic;
    animation-duration: 1s;
    /* transform: translateY(150%); */
    /* animation-fill-mode: forwards; */
    animation-timing-function: ease-out;

  }
  #single-project:hover {
    box-shadow: 0 0 15px gold;
    cursor: pointer;
    transition: 0.4s;
  }
          #project-photo {
            /* border: 2px solid blue; */
            width: 150px;
            height: 150px;
            border: 2px solid black;
            border-radius: 10px;
            display: flex;
            flex: 3;
          }
              .photo-project {
                /* border: 2px solid black; */
                border-radius: 10px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                box-shadow: 0 5px 15px black;
                    }

      #project-words {
        /* border: 2px solid purple; */
        display: flex;
        flex: 4;
        flex-direction: column;
        margin-left: 8px;
      }
      #project-model {
        /* border: 2px solid red; */
        text-align: center;
        text-decoration: underline;
      }
      #project-description {
        /* border: 2px solid goldenrod; */
        text-align: left;
        padding: 0 8px;
        margin-top: -20px;
      }



