/* Hobbition font Imports */
@font-face {
  font-family: hobbiton;
  src: url('../../Fonts/Hobbiton\ Brushhand.ttf');
}
@font-face {
  font-family: ringbearer;
  src: url('../../Fonts/Ringbearer.TTF');
}
@font-face {
  font-family: aniron;
  src: url('../../Fonts/Aniron.ttf');
}
@font-face {
  font-family: middleEarth;
  src: url('../../Fonts/MiddleEarth.ttf');
}

.ringbearer {
  font-family: ringbearer;
}


/* CODE BELOW WAS DEFAULT */

html,
body,
#react-root {
  min-height: 100vh;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}



/* ! screen size manipulation */
#app-mainDiv {
  /* border: green 2px solid; */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}




/* ROOT VARIABLES */
:root {

  /*  Base Values  */
  --primary-color-h: 216;
  --primary-color-s: 100%;
  --primary-color-l: 42%;

  --secondary-color-h: 93;
  --secondary-color-s: 48%;
  --secondary-color-l: 49%;
  
  --contrastThreshold: 60%;


  /*  Calculations Based on Lightness  */
  --lightnessTransform: 11%;
  --lightnessTransformTwo: 22%;
  --darknessTransform: 11%;
  --darknessTransformTwo: 22%;

  /* primary */
  --primary-color-light-l: calc(var(--primary-color-l) + var(--lightnessTransform));
  --primary-color-twolight-l: calc(var(--primary-color-l) + var(--lightnessTransformTwo));
  --primary-color-dark-l: calc(var(--primary-color-l) - var(--darknessTransform));
  --primary-color-twodark-l: calc(var(--primary-color-l) - var(--darknessTransformTwo));
  /* secondary */
  --secondary-color-light-l: calc(var(--secondary-color-l) + var(--lightnessTransform));
  --secondary-color-twolight-l: calc(var(--secondary-color-l) + var(--lightnessTransformTwo));
  --secondary-color-dark-l: calc(var(--secondary-color-l) - var(--darknessTransform));
  --secondary-color-twodark-l: calc(var(--secondary-color-l) - var(--darknessTransformTwo));
  


  
  /* primary background colors based on lightness */
  --color-primary: hsl(var(--primary-color-h),
                       var(--primary-color-s),
                       var(--primary-color-l));
  --color-primary-light:hsl(var(--primary-color-h),
                       var(--primary-color-s),
                       var(--primary-color-light-l));
  --color-primary-twolight:hsl(var(--primary-color-h),
                       var(--primary-color-s),
                       var(--primary-color-twolight-l));
  --color-primary-dark:hsl(var(--primary-color-h),
                       var(--primary-color-s),
                       var(--primary-color-dark-l));
  --color-primary-twodark:hsl(var(--primary-color-h),
                       var(--primary-color-s),
                       var(--primary-color-twodark-l));



  /* secondary background colors based on lightness */
  --color-secondary: hsl(var(--secondary-color-h),
                       var(--secondary-color-s),
                       var(--secondary-color-l));
  --color-secondary-light:hsl(var(--secondary-color-h),
                       var(--secondary-color-s),
                       var(--secondary-color-light-l));
  --color-secondary-twolight:hsl(var(--secondary-color-h),
                       var(--secondary-color-s),
                       var(--secondary-color-twolight-l));
  --color-secondary-dark:hsl(var(--secondary-color-h),
                       var(--secondary-color-s),
                       var(--secondary-color-dark-l));
  --color-secondary-twodark:hsl(var(--secondary-color-h),
                       var(--secondary-color-s),
                       var(--secondary-color-twodark-l));

                       


  /*  Calculations Based on Hue  */

  /* color background primary hues */
  --color-primary-complement: hsl(calc(var(--primary-color-h) + 180),
                          var(--primary-color-s),
                          var(--primary-color-l));              
  --color-primary-triad-1: hsl(calc(var(--primary-color-h) + 120),
                          var(--primary-color-s),
                          var(--primary-color-l));
  --color-primary-triad-2: hsl(calc(var(--primary-color-h) - 120),
                          var(--primary-color-s),
                          var(--primary-color-l));
  --color-primary-analog-1: hsl(calc(var(--primary-color-h) + 30),
                          var(--primary-color-s),
                          var(--primary-color-l));
  --color-primary-analog-2: hsl(calc(var(--primary-color-h) - 30),
                          var(--primary-color-s),
                          var(--primary-color-l));

  /* color background secondary hues */
  --color-secondary-complement: hsl(calc(var(--secondary-color-h) + 180),
                          var(--secondary-color-s),
                          var(--secondary-color-l));
  --color-secondary-triad-1: hsl(calc(var(--secondary-color-h) + 120),
                          var(--secondary-color-s),
                          var(--secondary-color-l));
  --color-secondary-triad-2: hsl(calc(var(--secondary-color-h) - 120),
                          var(--secondary-color-s),
                          var(--secondary-color-l));
  --color-secondary-analog-1: hsl(calc(var(--secondary-color-h) + 30),
                          var(--secondary-color-s),
                          var(--secondary-color-l));
  --color-secondary-analog-2: hsl(calc(var(--secondary-color-h) - 30),
                          var(--secondary-color-s),
                          var(--secondary-color-l));
}

/* ROOT VARIABLES */



/* BACKGROUND FILLS */

/*  Primary Color Shades */

.primary {
  background-color: var(--color-primary);
  --switch: calc((var(--primary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.primary-light {
  background: var(--color-primary-light);
  --switch: calc((var(--primary-color-light-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.primary-twolight {
  background: var(--color-primary-twolight);
  --switch: calc((var(--primary-color-light-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.primary-dark {
  background: var(--color-primary-dark);
  --switch: calc((var(--primary-color-dark-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.primary-twodark {
  background: var(--color-primary-twodark);
  --switch: calc((var(--primary-color-dark-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

/* primary color shades */



/* primary color alternates */

.primary-complement {
  background: var(--color-primary-complement);
  --switch: calc((var(--primary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

.primary-triad-1 {
  background: var(--color-primary-triad-1);
  --switch: calc((var(--primary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

.primary-triad-2 {
  background: var(--color-primary-triad-2);
  --switch: calc((var(--primary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.primary-analog-1 {
  background: var(--color-primary-analog-1);
  --switch: calc((var(--primary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.primary-analog-2 {
  background: var(--color-primary-analog-2);
  --switch: calc((var(--primary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

/* primary color alternatives */


/* secondary color shades */

.secondary {
  background: var(--color-secondary);
  --switch: calc((var(--secondary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.secondary-light {
  background: var(--color-secondary-light);
  --switch: calc((var(--secondary-color-light-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.secondary-twolight {
  background: var(--color-secondary-twolight);
  --switch: calc((var(--secondary-color-light-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.secondary-dark {
  background: var(--color-secondary-dark);
  --switch: calc((var(--secondary-color-dark-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.secondary-twodark {
  background: var(--color-secondary-twodark);
  --switch: calc((var(--secondary-color-dark-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

/* secondary color shades */



/* secondary color alternatives */

.secondary-complement {
  background: var(--color-secondary-complement);
  --switch: calc((var(--secondary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.secondary-triad-1 {
  background: var(--color-secondary-triad-1);
  --switch: calc((var(--secondary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.secondary-triad-2 {
  background: var(--color-secondary-triad-2);
  --switch: calc((var(--secondary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.secondary-analog-1 {
  background: var(--color-secondary-analog-1);
  --switch: calc((var(--secondary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.secondary-analog-2 {
  background: var(--color-secondary-analog-2);
  --switch: calc((var(--secondary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

/* secondary color alternatives */

/* BACKGROUND FILLS */











/* THIS CODE IS USED IN THE USER PAGE */

#user-page {
  /* border: 2px solid blue; */
  background-image: url('../../Images/StoneBridgeGreyscale.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* min-height: 775px; */
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex: 1;  
  justify-content: space-evenly;
  
}

#titleinputs-form {
  /* border: 2px solid gold; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
#title-inputs {
  /* border: 2px solid red; */
  flex-basis: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



#color-input-primary {
  /* border: 2px solid pink; */
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#color-input-secondary {
  /* border: 2px solid pink; */
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


#title-colors {
  font-family: ringbearer;
  font-size: 48px;
  color: transparent;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  background: linear-gradient(green, 40%, yellow, 60%, darkorange);
  background-clip: text;
  display: flex;
  text-align: center;

}

.newProject {
  box-sizing: border-box;
  width: 300px;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto 20px;
  background: linear-gradient(#e9e9e9cc, 30%, #767676cc);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 5px solid whitesmoke; */
  /* box-shadow: 0 5px 10px rgb(0, 0, 0, 1); */
  /* optional image gradient */
  /* border-image: linear-gradient(#008000, 30%, #ffff00, 60%, #ff8c00) 30; */
  /* border-width: 5px; */
  /* border-style: solid; */
  border-radius: 8px;
}


/* contains the circles displayed in primary and secondary views */
.shape-container {
  /* border: 2px solid greenyellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 5px;
  margin: 0 2px;
}

/* color input css */
.color-input {
  /* border: 2px solid greenyellow; */
  display: flex;
  flex-direction: row;
  flex-basis: 150px;
  align-items: flex-end;
  justify-content: space-between;
  /* min-height: 120px; */
  /* padding: 0; */

}
#color-select {
  border: 2px solid var(--primary-color);
  border: 2px solid black;
  border-radius: 10px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  padding: 0;
  vertical-align: middle;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

.side-colors {
  /* border: 2px solid red; */
  display: flex;
  /* flex: 1; */
  width: 270px;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.input-color-hex {
  border: 1px solid black;
  width: 75px;
  height: 18px;
  text-align: center;
  background-color: white;
  border-radius: 3px;
}


/* divPrime-tertiary are adjustments for the circles */
.divPrime {
  height: 115px;
  width: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid black;
}
.divSecondary {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid black;
}
.divTertiary {
  height: 85px;
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid black;
}

#newProject-button {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  margin-bottom: 25%;
}


/* THIS CODE IS USED IN THE USER PAGE */





/* CODE FOR CREATE PROJECT PAGE */

#create-page {
  /* border: 2px solid red; */
    /* border: 2px solid blue; */
    background-image: url('../../Images/SouthFarthing.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 775px;
    display: flex;
    flex-direction: column;
    flex: 1;  

    /* justify-content: space-evenly; */
}

    #create-heading {
      /* border: 2px solid blue; */
      font-family: ringbearer;
      font-size: 48px;
      color: transparent;
      -webkit-text-stroke-color: black;
      -webkit-text-stroke-width: 1px;
      background: linear-gradient(green, 40%, yellow, 60%, darkorange);
      background-clip: text;
      text-align: center;
      margin-left: 45%;

    }

    #create-form {
      /* border: 2px solid pink; */
      margin: 0% 1% 0 45%;
    }
        #model-input {
          /* border: 2px solid lightgrey; */
          display: flex;
          flex-direction: column;
          /* justify-content: center; */
          align-items: center;
        }
            #model-box {
              width: 45%;
              min-width: 200px;
              height: 20px;
              text-align: center;
              font-size: 14px;
              border: 3px solid grey;
              border-radius: 5px;
              background-color: #e7e7e7;
            }

        #palette-variable {
          /* border: 2px solid green; */
          display: flex;
          justify-content: center;
          background-color: #e7e7e7;
          border: 3px solid grey;
          border-radius: 5px;
          min-width: 210px;
          margin: 2% 25%
        }
        #description-input {
          /* border: 2px solid yellow; */
          display: flex;
          justify-content: center;
          margin: 3%;
        }
            #createDescription-input {
              width: 60%;
              height: 80px;
              /* text-align: left; */
              /* background-color: #5f2323aa; */
              border: 3px solid grey;
              border-radius: 5px;
              font-size: 14px;
              background-color: #e7e7e7;
              min-width: 250px;

              /* color: black; */
            }
            ::placeholder {
              color: black;
            }
        #picture-input {
          /* border: 2px solid orange; */
          display: flex;
          flex-direction: row-reverse;
          justify-content: center;
          padding: 1%;
        }
            .mainUpload {
              border: 2px solid black;
              max-width: 225px;
            }

        /* style={{ maxWidth: '250px' }} */
        #create-submit {
          /* border: 2px solid limegreen; */
          margin: 3% 0;
          display: flex;
          justify-content: center;
        }

    /* #toColors-button {
      margin-left: 60%;
      margin-top: 5%;
    } */




/* CODE FOR CREATE PROJECT PAGE */









/* CODE FOR PROJECT PAGE */

#projects-page {
  /* border: 2px solid red; */
    background-image: url('../../Images/HobbitHole11.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex: 1;  
    align-items: center;
}
    #project-heading {
      /* border: 2px solid red; */
      font-family: ringbearer;
      font-size: 48px;
      color: transparent;
      -webkit-text-stroke-color: black;
      -webkit-text-stroke-width: 1px;
      background: linear-gradient(green, 40%, yellow, 60%, darkorange);
      background-clip: text;
      text-align: center;

    }
    #projects-display {
      border: 3px solid #4d4848;
      background-color: #f5f5f5aa;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      border-radius: 10px;
      min-width: 600px;
      width: 70%;
      height: 450px;
      margin-top: -20px;
      padding: 15px 0;
      overflow: scroll;
    }
        #single-project {
          /* border: 2px solid black; */
          border-radius: 5px;
          padding: 3px;
          margin: 1% 1%;
          width: 45%;
          display: flex;
          box-shadow: 0 0 10px black;

        }
        #single-project:hover {
          box-shadow: 0 0 15px gold;
          cursor: pointer;
          transition: 0.4s;
        }
                #photo-project {
                  width: 220px;
                  height: auto;
                  border: 2px solid black;
                  border-radius: 5px;
                }

            #project-words {
              /* border: 2px solid purple; */
              width: 70%;
              margin-left: 8px;
            }
            #project-model {
              /* border: 2px solid red; */
              text-align: center;
            }
            /* #project-primary {
              border: 2px solid purple;
            } */
            #project-description {
              /* border: 2px solid goldenrod; */
              text-align: left;
              margin: 0 0;
              padding: 0 8px;

            }


/* CODE FOR PROJECT PAGE */












/* CODE FOR DETAILS PAGE */

#details-page {
  /* ! removing this border shifts your css for some reason */
  border: 0.1px solid red;
  background-image: url('../../Images/HobbitHole.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex: 1;
}

    #details-header {
      /* border: 2px solid orange; */
      font-family: ringbearer;
      font-size: 48px;
      color: transparent;
      -webkit-text-stroke-color: black;
      -webkit-text-stroke-width: 1px;
      background: linear-gradient(green, 40%, yellow, 60%, darkorange);
      background-clip: text;
      text-align: center;
    }
    #details-body {
      /* border: 2px solid gold; */
      display: flex;
      flex-direction: row;
      justify-content: center;
      /* ! top margin altered */
      margin-top: -30px;
      height: 550px;
      gap: 1%;
      /* gap: -10px; */
      /* justify-content: center; */
    }
        #color-view{
          /* border: 2px solid blue; */
          border: 3px solid #4d4848;
          border-radius: 10px;
          background-color: #f5f5f5aa;
  
          display: flex;
          flex-direction: column;
          padding: 10px;
        }
            .detail-palette {
              /* border: 2px solid red; */
              /* flex: 1; */
              /* width: 250px; */
              display: flex;
              flex-direction: column-reverse;
              align-items: center; 
              margin-top: 2%;
            }
            .palette-container {
              /* border: 2px solid greenyellow; */
              display: flex;
              flex-direction: row;
              /* flex-wrap: wrap; */
              /* min-width: 450px; */
              align-items: center;
              flex: 1;
              gap: 5px;
              margin: -13px;
              
            }
                .detailPrime {
                  height: 65px;
                  width: 65px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 50%;
                  border: 2px solid black;
                }
                .detailSecond {
                  height: 55px;
                  width: 55px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 50%;
                  border: 2px solid black;
                }
                .detailThird {
                  height: 45px;
                  width: 45px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 50%;
                  border: 2px solid black;
                }

        #projectImage-div {
          /* border: 1.5px solid black; */
          max-width: 450px;
          min-width: 300px;
          text-align: center;
          margin: 3px;
        }
            #details-photo {
              border: 1.5px solid black;

              /* border: 2px solid red; */
              width: 450px;
              height: auto;
            }
        #paint-inputs {
          border: 3px solid #4d4848;
          border-radius: 10px;
          background-color: #f5f5f5aa;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          border-radius: 10px;
          width: 180px;
          /* padding: 10px; */
          background-color: #f5f5f5aa;

          /* align-items: center; */
          /* text-align: center; */
        }
            #paint-show {
              margin: -50px;
            }
            #paint-dropdowns {
              border: 2px solid blue;
              display: flex;
              flex-direction: column;
              text-align: center;
              /* gap: 10px; */
            }
            #upload-detail {
              border: 2px solid skyblue;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              min-width: none;
              /* gap: 10px; */
              /* height: 80px; */
            }
                #add-paint {
                  border: 2px solid green;
                  display: flex;
                  flex-direction: column;
                  gap: 40px;
                }

        #painted-models {
          overflow-x: scroll;
          /* ! code here to adjust the list of paints used */
          display: flex;
          flex-direction: row;
          border: 3px solid #4d4848;
          border-radius: 10px;
          background-color: #f5f5f5aa;
          padding: 10px;
          width: 40%;
          max-width: 900px;

        }

        #project-paints {
          /* border: 2px solid red; */
          margin: 1% 1%;
          display: flex;
          flex-direction: column;
          box-shadow: 0 0 10px black;
          /* justify-content: space-evenly; */
        }
            #paint-step {
              /* border: 2px solid green; */
              width: 260px;
              height: auto;
            }
                #painted-image {
                  border: 1.5px solid black; 
                  width: 250px;
                  /* ! center your photo */
                  margin: 3.5px;
                }
                #painted-image:hover {
                  transform: scale(2.0);
                  transition: 0.3s;
                  z-index: 10;
                }


            #paint-description {
              /* border: 2px solid blue; */
              text-align: center;
            }
                #paint-box {
                  border: 2px solid orangered;
                  width: 100px;
                  height: 35px;
                  margin: auto;
                  margin-bottom: 4px;
                }

            #paint-delete {
              /* border: 2px solid green; */
              display: flex;
              justify-content: center;
              /* padding: 3px; */
            }
                #delete-paint {
                  /* background-color: red;
                  border: red 1px solid;
                  width: 30%;
                  height: 20px;
                  margin: 10px; */
                }

                #delete-project {
                  border: 2px solid plum;
                }

                /* ! decreases input file size */
                input[type="file"] {
                  min-width: 50px;
                  max-width: 170px;
                }
            
/* CODE FOR DETAILS PAGE */

















/* ** LANDING PAGE CSS */


#landing-page {
  border: 2px solid red;
  background-image: url('../../Images/HobbitHole1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row-reverse;
  flex: 1;  
  justify-content: center;
  align-items: center;
}

/* ! Div deleted */
/* #title-full {
  border: 2px solid purple;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  margin-top: 0%;
} */

    #title-hobbit {
      border: 2px solid blue;
      margin: 0px 0px 0px 0px;
      font-size: 84px;
      font-family: ringbearer;
      text-align: center;
      color: transparent;
      -webkit-text-stroke-color: black;
      -webkit-text-stroke-width: 1px;
      background: linear-gradient(green, 40%, yellow, 60%, darkorange);
      background: linear-gradient(darkgreen, 30%, limegreen, 40%, yellow, 50%, orange, 70%, red);
      background-clip: text;
      margin: -5% 0 0 0;
    }

    #login-boxes {
      border: 2px solid greenyellow;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    /* toggle for visible and invisible login / registration */
    /* invisible edit form */
    .invisible {
      display: none;
      /* position: fixed; */
      /* border: 5px solid lightgreen; */
    }
    /* visible edit form */
    .visible {
      /* border: 5px solid lightblue; */
      display: flex;
    }



/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-width: 5px;
  border-style: solid;
  /* border-image: linear-gradient(to right, rgb(126, 196, 47), rgb(32, 110, 18)) 1; */
  background-color: goldenrod;
  border: none;
  color: black;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}
.btn:hover {
  background-color: green;
  text-decoration: none;
  transition: 0.5s;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

/* login/registration form css */
.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto 20px;
  background: linear-gradient(#e9e9e9cc, 30%, #767676cc);
  border: 5px solid goldenrod;  
  border-radius: 8px;

}
/* controlling the login/registration textboxes */
.min-width {
  /* border: 2px solid green; */
  width: 80%;
  min-width: 100px;
  max-width: 150px;
}


/* LANDING PAGE CSS */





/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}









/* !! The imageUpload component is now contained always inside the picture-input DIV */