/* Hobbition font Imports */
@font-face {
  font-family: hobbiton;
  src: url('../../Fonts/Hobbiton\ Brushhand.ttf');
}
@font-face {
  font-family: ringbearer;
  src: url('../../Fonts/Ringbearer.TTF');
}
@font-face {
  font-family: aniron;
  src: url('../../Fonts/Aniron.ttf');
}
@font-face {
  font-family: middleEarth;
  src: url('../../Fonts/MiddleEarth.ttf');
}

.ringbearer {
  font-family: ringbearer;
}


/* CODE BELOW WAS DEFAULT */

html,
body,
#react-root {
  min-height: 100vh;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}



/* ! screen size manipulation */
#app-mainDiv {
  /* border: green 2px solid; */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}




/* ROOT VARIABLES */
:root {

  /*  Base Values  */
  --primary-color-h: 216;
  --primary-color-s: 100%;
  --primary-color-l: 42%;

  --secondary-color-h: 93;
  --secondary-color-s: 48%;
  --secondary-color-l: 49%;
  
  --contrastThreshold: 60%;


  /*  Calculations Based on Lightness  */
  --lightnessTransform: 11%;
  --lightnessTransformTwo: 22%;
  --darknessTransform: 11%;
  --darknessTransformTwo: 22%;

  /* primary */
  --primary-color-light-l: calc(var(--primary-color-l) + var(--lightnessTransform));
  --primary-color-twolight-l: calc(var(--primary-color-l) + var(--lightnessTransformTwo));
  --primary-color-dark-l: calc(var(--primary-color-l) - var(--darknessTransform));
  --primary-color-twodark-l: calc(var(--primary-color-l) - var(--darknessTransformTwo));
  /* secondary */
  --secondary-color-light-l: calc(var(--secondary-color-l) + var(--lightnessTransform));
  --secondary-color-twolight-l: calc(var(--secondary-color-l) + var(--lightnessTransformTwo));
  --secondary-color-dark-l: calc(var(--secondary-color-l) - var(--darknessTransform));
  --secondary-color-twodark-l: calc(var(--secondary-color-l) - var(--darknessTransformTwo));
  


  /* Calculations based on Lightness */

  /* primary lightness */
  --color-primary: hsl(var(--primary-color-h),
                       var(--primary-color-s),
                       var(--primary-color-l));
  --color-primary-light:hsl(var(--primary-color-h),
                       var(--primary-color-s),
                       var(--primary-color-light-l));
  --color-primary-twolight:hsl(var(--primary-color-h),
                       var(--primary-color-s),
                       var(--primary-color-twolight-l));
  --color-primary-dark:hsl(var(--primary-color-h),
                       var(--primary-color-s),
                       var(--primary-color-dark-l));
  --color-primary-twodark:hsl(var(--primary-color-h),
                       var(--primary-color-s),
                       var(--primary-color-twodark-l));



  /* secondary lightness */
  --color-secondary: hsl(var(--secondary-color-h),
                       var(--secondary-color-s),
                       var(--secondary-color-l));
  --color-secondary-light:hsl(var(--secondary-color-h),
                       var(--secondary-color-s),
                       var(--secondary-color-light-l));
  --color-secondary-twolight:hsl(var(--secondary-color-h),
                       var(--secondary-color-s),
                       var(--secondary-color-twolight-l));
  --color-secondary-dark:hsl(var(--secondary-color-h),
                       var(--secondary-color-s),
                       var(--secondary-color-dark-l));
  --color-secondary-twodark:hsl(var(--secondary-color-h),
                       var(--secondary-color-s),
                       var(--secondary-color-twodark-l));

                       


  /*  Calculations Based on Hue  */

  /* primary hues */
  --color-primary-complement: hsl(calc(var(--primary-color-h) + 180),
                          var(--primary-color-s),
                          var(--primary-color-l));              
  --color-primary-triad-1: hsl(calc(var(--primary-color-h) + 120),
                          var(--primary-color-s),
                          var(--primary-color-l));
  --color-primary-triad-2: hsl(calc(var(--primary-color-h) - 120),
                          var(--primary-color-s),
                          var(--primary-color-l));
  --color-primary-analog-1: hsl(calc(var(--primary-color-h) + 30),
                          var(--primary-color-s),
                          var(--primary-color-l));
  --color-primary-analog-2: hsl(calc(var(--primary-color-h) - 30),
                          var(--primary-color-s),
                          var(--primary-color-l));

  /* secondary hues */
  --color-secondary-complement: hsl(calc(var(--secondary-color-h) + 180),
                          var(--secondary-color-s),
                          var(--secondary-color-l));
  --color-secondary-triad-1: hsl(calc(var(--secondary-color-h) + 120),
                          var(--secondary-color-s),
                          var(--secondary-color-l));
  --color-secondary-triad-2: hsl(calc(var(--secondary-color-h) - 120),
                          var(--secondary-color-s),
                          var(--secondary-color-l));
  --color-secondary-analog-1: hsl(calc(var(--secondary-color-h) + 30),
                          var(--secondary-color-s),
                          var(--secondary-color-l));
  --color-secondary-analog-2: hsl(calc(var(--secondary-color-h) - 30),
                          var(--secondary-color-s),
                          var(--secondary-color-l));
}

/* ROOT VARIABLES */



/* BACKGROUND FILLS */

/*  Primary Color Shades */

.primary {
  background-color: var(--color-primary);
  --switch: calc((var(--primary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.primary-light {
  background: var(--color-primary-light);
  --switch: calc((var(--primary-color-light-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.primary-twolight {
  background: var(--color-primary-twolight);
  --switch: calc((var(--primary-color-light-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.primary-dark {
  background: var(--color-primary-dark);
  --switch: calc((var(--primary-color-dark-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.primary-twodark {
  background: var(--color-primary-twodark);
  --switch: calc((var(--primary-color-dark-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

/* primary color shades */



/* primary color alternates */

.primary-complement {
  background: var(--color-primary-complement);
  --switch: calc((var(--primary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

.primary-triad-1 {
  background: var(--color-primary-triad-1);
  --switch: calc((var(--primary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

.primary-triad-2 {
  background: var(--color-primary-triad-2);
  --switch: calc((var(--primary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.primary-analog-1 {
  background: var(--color-primary-analog-1);
  --switch: calc((var(--primary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.primary-analog-2 {
  background: var(--color-primary-analog-2);
  --switch: calc((var(--primary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

/* primary color alternatives */


/* secondary color shades */

.secondary {
  background: var(--color-secondary);
  --switch: calc((var(--secondary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.secondary-light {
  background: var(--color-secondary-light);
  --switch: calc((var(--secondary-color-light-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.secondary-twolight {
  background: var(--color-secondary-twolight);
  --switch: calc((var(--secondary-color-light-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.secondary-dark {
  background: var(--color-secondary-dark);
  --switch: calc((var(--secondary-color-dark-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.secondary-twodark {
  background: var(--color-secondary-twodark);
  --switch: calc((var(--secondary-color-dark-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

/* secondary color shades */



/* secondary color alternatives */

.secondary-complement {
  background: var(--color-secondary-complement);
  --switch: calc((var(--secondary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.secondary-triad-1 {
  background: var(--color-secondary-triad-1);
  --switch: calc((var(--secondary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.secondary-triad-2 {
  background: var(--color-secondary-triad-2);
  --switch: calc((var(--secondary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.secondary-analog-1 {
  background: var(--color-secondary-analog-1);
  --switch: calc((var(--secondary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.secondary-analog-2 {
  background: var(--color-secondary-analog-2);
  --switch: calc((var(--secondary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

/* secondary color alternatives */

/* BACKGROUND FILLS */





/* CODE FOR DETAILS PAGE */

#details-page {
  border: 2px solid red;
  background-image: url('../../Images/HobbitHole.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex: 1;
}

    #details-header {
      /* border: 2px solid orange; */
      font-family: ringbearer;
      font-size: 48px;
      color: transparent;
      -webkit-text-stroke-color: black;
      -webkit-text-stroke-width: 1px;
      background: linear-gradient(green, 40%, yellow, 60%, darkorange);
      background-clip: text;
      text-align: center;
    }
    #details-body {
      border: 2px solid gold;
      display: flex;
      flex-direction: row;
      /* justify-content: center; */
      margin-top: -2%;
      height: 76%;
    }
    /* ! main column */
        #color-view{
          /* border: 2px solid blue; */
          border: 3px solid #4d4848;
          border-radius: 10px;
          background-color: #f5f5f5aa;
          display: flex;
          flex-direction: column;
          flex-basis: 520px;
        }
            #project-mainDescription {
              /* border: 2px solid magenta; */
              display: flex;
              padding: 5px 20px;
              text-align: center;
              justify-content: center;

            }
            #projectImage-div {
              /* border: 1.5px solid yellow; */
              display: flex;
              flex-grow: 1;
              justify-content: center;
              align-items: center;
              height: auto;
              text-align: center;
            }
                .detailsPhoto {
                  border: 1.5px solid black;
                  object-fit: cover;
                  width: 100%;
                  max-width: 500px;
                  max-height: 380px;
                  box-shadow: 0 5px 15px black;
                }
                .newMainUpload {
                  border: 2px solid black;
                  border-radius: 10px;
                  width: 80%;
                  height: 80%;
                  object-fit: cover;
                  box-shadow: 0 5px 15px black;
                }
                /* ! landscape photos preferred,  */
            #detail-palette {
              /* border: 2px solid red; */
              display: flex;
              flex-direction: column-reverse;
              justify-content: center;
              flex-grow: 1;
            }
                .palette-container {
                  /* border: 2px solid greenyellow; */
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  /* margin: 5px 0; */
                }
                    .detailPrime {
                      height: 100%;
                      width: 55px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      border-radius: 50%;
                      border: 2px solid black;
                    }
                    .detailSecond {
                      height: 90%;
                      width: 50px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      border-radius: 50%;
                      border: 2px solid black;
                    }
                    .detailThird {
                      height: 80%;
                      width: 45px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      border-radius: 50%;
                      border: 2px solid black;
                    }






        /* ! main column  newPaint inputs */
        #middle-bar {
          border: 2px solid mediumturquoise;
          display: flex;
          flex-direction: column;
          flex-basis: 200px;
          /* justify-content: space-evenly; */
          /* align-items: center; */
          /* border-radius: 10px; */
          /* width: 180px; */
          /* padding: 10px; */
          /* align-items: center; */
          /* text-align: center; */
        }
        #add-paint {
          border: 2px solid lightblue;
          /* border: 3px solid #4d4848; */
          border-radius: 10px;
          background-color: #f5f5f5aa;
          display: flex;
          flex-direction: column;
          flex-grow: 2;
          /* gap: 40px; */
        }
        #button-bar {
          border: 2px solid magenta;
          /* border: 3px solid #4d4848; */
          border-radius: 10px;
          background-color: #f5f5f5aa;
          display: flex;
          flex-direction: column;
          flex-grow: 1;
        }

        /* ! main column steps */
        #painted-models {
          overflow-x: scroll;
          /* ! code here to adjust the list of paints used */
          display: flex;
          flex-basis: 200px;
          /* flex-direction: row; */
          border: 3px solid #4d4848;
          border-radius: 10px;
          background-color: #f5f5f5aa;
          /* padding: 10px; */
          /* width: 40%; */
          /* max-width: 900px; */
        }






















            #paint-show {
              /* margin: -50px; */
            }

            #paint-dropdowns {
              border: 2px solid blue;
              display: flex;
              flex-direction: column;
              /* text-align: center; */
              /* gap: 10px; */
            }
            /* #upload-detail {
              border: 2px solid skyblue;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              min-width: none;
              gap: 10px;
              height: 80px;
            } */


        #project-paints {
          /* border: 2px solid red; */
          /* margin: 1% 1%; */
          /* display: flex; */
          /* flex-direction: column; */
          /* box-shadow: 0 0 10px black; */
          /* justify-content: space-evenly; */
        }
            #paint-step {
              /* border: 2px solid green; */
              /* width: 260px; */
              /* height: auto; */
            }
                #painted-image {
                  border: 2px solid greenyellow; 
                  width: 250px;
                  /* ! center your photo */
                  /* margin: 3.5px; */
                }
                /* #painted-image:hover {
                  transform: scale(2.0);
                  transition: 0.3s;
                  z-index: 10;
                } */


            #paint-description {
              /* border: 2px solid blue; */
              /* text-align: center; */
            }
            /* ! replaced by the color input */
                /* #paint-box {
                  border: 2px solid orangered;
                  width: 100px;
                  height: 35px;
                  margin: auto;
                  margin-bottom: 4px;
                } */

            #paint-delete {
              /* border: 2px solid green; */
              /* display: flex; */
              /* justify-content: center; */
              /* padding: 3px; */
            }
                #delete-paint {
                  /* background-color: red;
                  border: red 1px solid;
                  width: 30%;
                  height: 20px;
                  margin: 10px; */
                }

                #delete-project {
                  border: 2px solid plum;
                }

                /* ! decreases input file size */
                /* input[type="file"] {
                  min-width: 50px;
                  max-width: 170px;
                } */
            
/* CODE FOR DETAILS PAGE */











/* --------------------------------------------------------------------------------
INPUT - Color
-------------------------------------------------------------------------------- */

.color-select {
  border: 2px solid black;
  border-radius: 10px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  padding: 0;
  vertical-align: middle;
  box-shadow: 0 5px 15px black;

}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}


/* --------------------------------------------------------------------------------
INPUT - file
-------------------------------------------------------------------------------- */


/* import image button */
#picture-input {
  /* border: 2px solid orange; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pictureImport {
  display: none;
}

.ben-file-upload {
  cursor: pointer;
  padding: 10px 15px;
  font-size: 18px;
  background-color: skyblue;
  color: black;
  border-radius: 10px;
  box-shadow: 0 5px 15px black;
  outline: outset;
  outline-color: skyblue;
  border: 1px solid darkblue;
  transition: 0.3s;
}

.ben-file-upload:hover {
  /* background-color: #2980b9; */
  border: 1px solid lightgreen;
  outline-color: green;
  background-color: green;
  color: whitesmoke;

}



/* --------------------------------------------------------------------------------
INPUTS & SELECT & HEXCODE
-------------------------------------------------------------------------------- */
.selectBox {
  border: 2px solid black;
  background: linear-gradient(#ffffff, 90%, #c8c8c8);
  font-size: 18px;
  width: 100%;
  height: 40px;
  max-width: 200px;
  min-width: 100px;

}

.selectHex {
  border: 2px solid black;
  background: linear-gradient(#ffffff, 90%, #c8c8c8);
  width: 45%;
  height: 30px;
  text-align: center;
  border-radius: 3px;
  font-size: 18px;
}

::placeholder {
  color: grey;
}


/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 15px;
  border-width: 5px;
  border-style: solid;
  background-color: goldenrod;
  border: 1px solid gold;
  font-size: 1.1rem;
  outline: outset;
  outline-color: goldenrod;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 5px 15px black;
}
.btn:hover {
  background-color: green;
  outline-color: green;
  border: 1px solid lightgreen;
  text-decoration: none;
  transition: 0.5s;
  color: white;

}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

