

#about-pageDiv {
    display: flex;
    flex-direction: column;
    flex: 1;  
}
#about-header {
    font-family: ringbearer;
    font-size: 48px;
    color: transparent;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    background: linear-gradient(darkgreen, 30%, limegreen, 40%, yellow, 50%, orange, 70%, red);
    background-clip: text;
    text-align: center;
}
#about-body{
    /* border: 2px solid gold; */
    display: flex;
    justify-content: center;
    height: 315px;
    gap: 2%;
}
#about-text {
    border: 3px solid #4d4848;
    background-color: #f5f5f5bb;
    border-radius: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px black;
    padding: 0 1%;
}

#tech-div {
    /* border: 2px solid red; */
    width: 200px;
    border: 3px solid #4d4848;
    background-color: #f5f5f5bb;
    border-radius: 10px;
}
#center {
    text-align: center;
}


