

.aboutPage {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;  
}

.aboutBody{
    /* border: 2px solid gold; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 1vh;
}
.aboutText,
.techUsed {
    border: 3px solid #4d4848;
    background-color: #f5f5f5bb;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 10px;
    padding: 2vh;
    font-size: 2vh;
}
.aboutText {
    width: 50vh;
    gap: 2vh;

}
.techUsed {
    /* border: 2px solid red; */
    align-items: center;    
    width: 20vh;
    gap: 0.5vh;
}

