.myProjectDetailsPage {
  border: 2px solid orange;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.detailsBody {
  border: 2px solid blue;
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
}

.detailsLeftSide {
  border: 2px solid yellow;
  display: flex;
  flex: 3;
  justify-content: center;
  align-items: center;
}

.overflowContainer {
  /* border: 2px solid magenta; */
  /* border-top: 2px solid white;
  border-bottom: 2px solid white; */
  height: 64vh;
  overflow: scroll;
}


.modelAndColorStep {
  border: 2px solid yellow;
}





.detailsRightSide {
  border: 2px solid magenta;
  display: flex;
  flex: 2;
  flex-flow: column nowrap;
  /* align-items: center; */
}

.viewButtons {
  border: 2px solid pink;
  display: flex;
  flex: 1;
  flex-flow: row nowrap;

}

.editMenuOptions {
  border: 2px solid lime;
  display: flex;
  flex: 3;
}


