.colorWheelContainer {
    border: 2px solid yellow;
    width: 75vw;
    height: calc(2 * 15vh + 10px);
    overflow: hidden;
}

.colorWheel {
    border: 2px solid red;
    display: grid;
    width: 100%;
    /* grid-template-columns: repeat(auto-fill, minmax(15vh, 1fr)); */
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 15vh;
}

.pirmaryColor, .secondaryColor, .tertiaryColor {
    /* border: 2px solid magenta; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 0 5px 15px black;
    /* padding-top: 100%; */
    height: 100%;
    width: 100%;
}

