  
.colorWheel {
    /* border: 2px solid blue; */
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    /* gap: 3px; */
}

.colorColumnPrime, .colorColumnSecondary {
    /* border: 2px solid magenta; */
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    justify-content: center;
    align-items: center;
    /* gap: 0px; */
}

.pirmaryColor, .secondaryColor, .tertiaryColor {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 5px 15px black;
    height: 12vh;
    width: 12vh;
    font-size: 2vh;
}

