@font-face {
  font-family: ringbearer;
  src: url('/src/Fonts/Ringbearer.TTF')
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ROOT VARIABLES */
:root {

  /* header variables */
  --header-height: 90px;

}



.hobbit-hues {
  /* border: yellow 2px solid; */
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  background-image: url('/src/Images/HobbitHole9.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.pageHeading {
  /* border: 2px solid red; */
  font-family: ringbearer;
  font-size: 7dvh;
  color: transparent;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  background: linear-gradient(#28bddf, 48%, #ffffae, 52%, #159415);
  background-clip: text;
  text-align: center;
  /* user-select: none; */

}


.btn {
  display: inline-block;
  padding: 10px;
  font-size: 2.25dvh;
  cursor: pointer;
  background-color: goldenrod;
  border: 1px solid gold;
  border-radius: 10px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.9); 
  transition: 0.5s;
}
.btn:hover {
  background-color: green;
  border: 1px solid lightgreen;
  color: white;
}


.select-style {
  border: 2px solid rgb(255, 255, 255); 
  font-size: 2.25dvh;
  padding: 10px; 
  background-color: #fff7e6;
  color: #333; 
  border-radius: 10px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.9); 
  /* appearance: none; */
  /* outline: none;  */
  /* outline: blue; */
}






/* --------------------------------------------------------------------------------
INPUT - file override defaults
-------------------------------------------------------------------------------- */
/* import image button */
.picture-input {
  /* border: 2px solid orange; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pictureImport {
  display: none;
}
















.notesArea {
  border: 2px solid black;
  background: linear-gradient(#ffffff, 90%, #c8c8c8);
  border-radius: 5px;
  font-size: 14px;
  width: 95%;
  height: 40px;
}
::placeholder {
  color: grey;
}
