

@font-face {
  font-family: ringbearer;
  src: url('/src/Fonts/Ringbearer.TTF')
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body,
#react-root {
  min-height: 100vh;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  /* background-color: blue; */
  background-image: url('/src/Images/HobbitHole9.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* min-height: 700px; */

}

.hobbit-hues {
  /* border: green 2px solid; */
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.pageHeading {
  /* border: 2px solid red; */
  font-family: ringbearer;
  font-size: 8vh;
  color: transparent;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  /* background: linear-gradient(darkgreen, 30%, limegreen, 40%, yellow, 50%, orange, 70%, red); */
  background: linear-gradient(#7cff7c, 30%, #ffff00, 50%, #ffc55a, 70%, #ff4646);
  background: linear-gradient(#7ee7fe, 35%, #ffff6b, 75%, #7cff7c);
  background-clip: text;
  text-align: center;
}







/* *** COLOR CODE CSS *** */
/* ROOT VARIABLES */
:root {

  /*  Base Values  */
  --primary-color-h: 216;
  --primary-color-s: 100%;
  --primary-color-l: 42%;

  --secondary-color-h: 93;
  --secondary-color-s: 48%;
  --secondary-color-l: 49%;
  
  --contrastThreshold: 60%;

  /*  Calculations Based on Lightness  */
  --lightnessTransform: 11%;
  --lightnessTransformTwo: 22%;
  --darknessTransform: 11%;
  --darknessTransformTwo: 22%;

  /* primary */
  --primary-color-light-l: calc(var(--primary-color-l) + var(--lightnessTransform));
  --primary-color-twolight-l: calc(var(--primary-color-l) + var(--lightnessTransformTwo));
  --primary-color-dark-l: calc(var(--primary-color-l) - var(--darknessTransform));
  --primary-color-twodark-l: calc(var(--primary-color-l) - var(--darknessTransformTwo));
  
  /* primary shades */
  --color-primary: hsl(var(--primary-color-h),
                       var(--primary-color-s),
                       var(--primary-color-l));
  --color-primary-light:hsl(var(--primary-color-h),
                       var(--primary-color-s),
                       var(--primary-color-light-l));
  --color-primary-twolight:hsl(var(--primary-color-h),
                       var(--primary-color-s),
                       var(--primary-color-twolight-l));
  --color-primary-dark:hsl(var(--primary-color-h),
                       var(--primary-color-s),
                       var(--primary-color-dark-l));
  --color-primary-twodark:hsl(var(--primary-color-h),
                       var(--primary-color-s),
                       var(--primary-color-twodark-l));

  /* primary hues */
  --color-primary-complement: hsl(calc(var(--primary-color-h) + 180),
                          var(--primary-color-s),
                          var(--primary-color-l));              
  --color-primary-triad-1: hsl(calc(var(--primary-color-h) + 120),
                          var(--primary-color-s),
                          var(--primary-color-l));
  --color-primary-triad-2: hsl(calc(var(--primary-color-h) - 120),
                          var(--primary-color-s),
                          var(--primary-color-l));
  --color-primary-analog-1: hsl(calc(var(--primary-color-h) + 30),
                          var(--primary-color-s),
                          var(--primary-color-l));
  --color-primary-analog-2: hsl(calc(var(--primary-color-h) - 30),
                          var(--primary-color-s),
                          var(--primary-color-l));
}

/* ROOT VARIABLES */



/* BACKGROUND FILLS */

/*  Primary Color Shades */

.primary {
  background-color: var(--color-primary);
  --switch: calc((var(--primary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.primary-light {
  background: var(--color-primary-light);
  --switch: calc((var(--primary-color-light-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.primary-twolight {
  background: var(--color-primary-twolight);
  --switch: calc((var(--primary-color-light-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.primary-dark {
  background: var(--color-primary-dark);
  --switch: calc((var(--primary-color-dark-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.primary-twodark {
  background: var(--color-primary-twodark);
  --switch: calc((var(--primary-color-dark-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

/* primary color hues */

.primary-complement {
  background: var(--color-primary-complement);
  --switch: calc((var(--primary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

.primary-triad-1 {
  background: var(--color-primary-triad-1);
  --switch: calc((var(--primary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

.primary-triad-2 {
  background: var(--color-primary-triad-2);
  --switch: calc((var(--primary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.primary-analog-1 {
  background: var(--color-primary-analog-1);
  --switch: calc((var(--primary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
.primary-analog-2 {
  background: var(--color-primary-analog-2);
  --switch: calc((var(--primary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}





















/* --------------------------------------------------------------------------------
INPUT - file
-------------------------------------------------------------------------------- */


/* import image button */
#picture-input {
  /* border: 2px solid orange; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pictureImport {
  display: none;
}

.ben-file-upload {
  cursor: pointer;
  padding: 5px 10px;
  font-size: 18px;
  background-color: skyblue;
  color: black;
  border-radius: 10px;
  box-shadow: 0 5px 15px black;
  outline: outset;
  outline-color: skyblue;
  border: 1px solid darkblue;
  transition: 0.3s;
}

.ben-file-upload:hover {
  /* background-color: #2980b9; */
  border: 1px solid lightgreen;
  outline-color: green;
  background-color: green;
  color: whitesmoke;

}



/* --------------------------------------------------------------------------------
INPUTS & SELECT & HEXCODE
-------------------------------------------------------------------------------- */
/* .selectBox {
  border: 2px solid black;
  background: linear-gradient(#ffffff, 90%, #c8c8c8);
  font-size: 18px;
  width: 100%;
  height: 40px;
  max-width: 200px;
  min-width: 100px;
} */

/* .selectHex {
  border: 2px solid black;
  background: linear-gradient(#ffffff, 90%, #c8c8c8);
  width: 45%;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
} */

.notesArea {
  border: 2px solid black;
  background: linear-gradient(#ffffff, 90%, #c8c8c8);
  border-radius: 5px;
  font-size: 14px;
  width: 95%;
  height: 40px;
}

::placeholder {
  color: grey;
}


/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 1vh;
  font-size: 2.5vh;
  cursor: pointer;
  background-color: goldenrod;
  border: 1px solid gold;
  border-radius: 10px;
  box-shadow: 0 5px 15px black;
  transition: 0.5s;
}
.btn_pc:hover, .btn_pb:hover, .btn_sm:hover, .btn:hover {
  background-color: green;
  border: 1px solid lightgreen;
  color: white;
}

.btn_sm {
  display: inline-block;
  padding: 2px 5px;
  border-width: 2px;
  border-style: solid;
  background-color: goldenrod;
  border: 1px solid gold;
  font-size: 1.1rem;
  outline: outset;
  outline-color: goldenrod;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 5px 15px black;
}
.btn_del:hover {
  background-color: darkred;
  outline-color: red;
  border: 1px solid darkred;
  text-decoration: none;
  transition: 0.5s;
  color: white;
}
.btn_pb {
  display: inline-block;
  padding: 2px 5px;
  border-width: 2px;
  border-style: solid;
  background-color: purple;
  border: 1px solid pink;
  font-size: 1.1rem;
  outline: outset;
  outline-color: purple;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 5px 15px black;
  height: 50px;
  width: 70px;
  color: white;
  align-self: center;
  align-items: center;
  margin-right: 30px;
}
.btn_pc {
  display: inline-block;
  padding: 2px 5px;
  border-width: 2px;
  border-style: solid;
  background-color: darkblue;
  border: 1px solid lightblue;
  font-size: 1.1rem;
  outline: outset;
  outline-color: darkblue;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 5px 15px black;
  height: 50px;
  width: 70px;
  color: white;
  align-self: center;
  margin-right: 5px;

}








