.hobbitHeader {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e2e2e;
  /* border-bottom: 2px solid black; */
  height: 8vh;
  padding: 0 3vh;
}


.headerTitle {
  /* border: 2px solid green; */
  font-size: 4vh;
  font-family: ringbearer;
  color: #aaaaaa;
  transition: 0.3s;
}
.hobbitHeader a {
  text-decoration: none;
}

.navBar {
  /* border: 2px solid red; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 50vw;
}
.hobbitLink {
  /* border: 2px solid purple; */
  color: whitesmoke;
  padding: 0.5vh;
  font-size: 2vh;
  /* button css lumped in */
  background-color: #2e2e2e;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.hobbitLink:hover, .headerTitle:hover {
  color: gold;
  transform: scale(1.1);
}